<h2 class="text-center">MyAdmin Dashboard</h2>

<!-- slider directive -->
<div class="row">
  <p>
    Add images here
  </p>
  <input type="file" id="file" name="file"/>
  <button ng-click="processFileOnClick()">Add</button>
  <p>Image data: {{imageData}}</p>
</div>

<div class="row">
    <div class="wrap">
      <div class="row">insert link for  image here: <input type="text" name="link" ng-model="defaultLink" /></div>
      <button ng-click="reloadCarousel()">Reload carousel</button>
    </div>
</div>


<div myslider>
    <ul class="slider" >
        <li class="image-slider" ng-repeat="imgSrc in imgSrcs">
            <img ng-src={{imgSrc}} alt="Image">
        </li>
    </ul>
</div>



<h3>Tasks</h3>
<div class="container cf">
    <div>
        <ul>
            <li ng-repeat="task in tasks">
              <input type="checkbox"> <b>{{task}}</b>
            </li>
        </ul>
    </div>
</div>

<div class="text-center">
    <small>Images courtesy of <a target="_blank" href="http://unsplash.com">unsplash.com</a></small>
</div>

